.TodoList {
    max-width: 500px;
    z-index:1;
    list-style: none;
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    z-index: 1;
}

.UnderList1 {
    max-width: 490px;
    height: 40px;
    z-index:-1;
    background-color: #faf7f7;
    box-shadow: 1px 1px 1px #cccccc;
    position: relative;
    bottom: 73px;
    margin: 0 auto;
    border: none;
}

.UnderList2 {
    max-width: 480px;
    height: 40px;
    z-index:-1;
    background-color: #faf7f7;
    box-shadow: 1px 1px 1px #cccccc;
    position: relative;
    bottom: 27px;
    margin: 0 auto;
    border:none;

}