.Container {
    display: inline-block;
    height: 50px;
    width: 50px;
    padding:0;
    margin: 0;
    box-sizing: border-box;
    align-content: center;
    position: relative;
    right: 13.5rem;
    top: 4.5rem;
    cursor: pointer;
}

.Chevron {
    margin:0;
    padding: 0;
    color: #cccccc;
    font-size: 25px;
}

.Chevron:active,
.Chevron.active {
    color: #282c34;
}