.InputContainer {
    max-width: 500px;
    height: 4rem;
    padding: 0;
    box-shadow: 1px 3px 3px #cccccc;
    box-sizing: border-box;
    background-color: white;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.InputElement {
    border: none;
    height: 90%;
    font-size: 25px;
    font-weight: 100;
    margin: 0;
    position: relative;
    right: 3rem;
}

.InputElement:focus {
    outline: none;
}

::placeholder {
    color: #EFEFEF;
    font-style: italic;
    font-weight: 100;
}
