.Container {
    display: flex;
    max-width: 500px;
    height: 4rem;
    padding: 0;
    z-index: 4;
    border-top: 1px solid #EFEFEF;
    box-shadow: 1px 1px 3px #cccccc;
    box-sizing: border-box;
    background-color: white;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.Item {
    display: flex;
    flex: 1;
    border: none;
    box-sizing: border-box;
    height: 90%;
    font-size: 25px;
    font-weight: 100;
    margin: 0;
    padding: 1.2rem 0 0 1.5rem;
    z-index:4;
}

.Circle {
    display: flex;
    height: 35px;
    width: 35px;
    box-sizing: border-box;
    margin: 15px 0 0 15px;
    padding: 0;
    border: 1px solid #F1F3F0;
    background: white;
    border-radius: 100px;
}

.Checked {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS9jQKqdYV53KeNqrbqQMJjvcYlUwoaOABgdg&usqp=CAU");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    border: 1px solid #A3D397;
}

.Delete {
    display: flex;
    background-image: url('https://www.pinclipart.com/picdir/big/109-1094306_open-thin-red-x-png-clipart.png');
    overflow: hidden;
    background-position: center;
    background-size: cover;
    height: 13px;
    width: 13px;
    margin: 27px 20px 0 0;
    cursor: pointer;
}


